extends layout

block content
  h1= title

  // Create New Spell button (Part 6 Step 1)
  a(href="/spells/create")
    button.btn.btn-success.m-2 Create New Spell

  // Use results passed in from controller
  - let items = results;

  div(class="container-fluid")
    div(class="row m-1")
      each item in items
        div(class="row-sm-2 m-1")
          // Display spell info
          | Spell #{item.name} (Level #{item.level}) – #{item.school}

          // ---- DETAILS BUTTON ----
          - let detailsUrl = `dispatch("/spells/detail?id=${item._id}")`
          button.btn.btn-info.ml-2(onclick=detailsUrl) Details

          // ---- UPDATE BUTTON ----
          - let updateUrl = `dispatch("/spells/update?id=${item._id}")`
          button.btn.btn-warning.ml-2(onclick=updateUrl) Update

          // ---- DELETE BUTTON ----
          - let deleteUrl = `dispatch("/spells/delete?id=${item._id}")`
          button.btn.btn-danger.ml-2(onclick=deleteUrl) Delete

  script.
    function dispatch(path) {
      window.location.href = path;
    }